{% block stylesheet %}{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<div class="title-menu-container">
				<a class="navbar-brand" href="{{ path('home') }}">
					<img src="{{ asset('img/icon.png') }}" alt="logo" draggable="false">
					<p>Market Manager</p>
					<p></p>
				</a>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			{% if app.session.get('user') %}
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('list') }}">Lists</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('new_list') }}">New list</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('article') }}">Items</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('stat')}}">Stats</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_collaboration_request_index') }}">Collabs requests</a>
							{% if app.session.get('collabRequests') != 0 %}
								<div class="collabs">
									<p>{{ app.session.get('collabRequests') }}</p>
								</div>
							{% endif %}
						</li>
					</ul>
					<div class="nav-text-right">
						<div class="hello-text-image-container">
							<img class="hello-image" src="{{ asset('img/hello.png') }}" alt="hello" draggable="false" width="25" height="25">
							<div class="hello-text-container">
								<p class="hello-text">Hello
									{{ app.session.get('user').Name }}</p>
							</div>
						</div>
						<a href="{{ path('disconnect') }}" type="button" class="btn btn-primary">Disconnect</a>
					</div>
				{% else %}
					<div class="nav-text-right-disconnected">
						<a href="{{ path('connect') }}" type="button" class="btn btn-primary">Connect</a>
						<a href="{{ path('register') }}" type="button" class="btn btn-primary">Sign Up</a>
					</div>
				{% endif %}
			</div>
		</div>
	</nav>
{% endblock %}
